<mat-toolbar color="primary">
  <!-- <span><img src="/assets/images/logo.png" height=30 width=41></span> -->
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa
      fa-home fa-lg"></span> Home</a>
  <!-- <a mat-button routerLink="/aboutus" routerLinkActive="active"><span class="fa
      fa-info fa-lg"></span> About</a> -->
  <a mat-button routerLink="/menu" routerLinkActive="active"><span class="fa
      fa-list fa-lg"></span> Catalogue</a>
  <a mat-button routerLink="/contactus" routerLinkActive="active"><span
      class="fa fa-address-card fa-lg"></span> Contact Us</a>

</mat-toolbar>

<div class="container" fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm="center center"
  fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="15%">
    <img height="100px" width="100px" src="../../assets/images/logo.png"
      alt="logo">
  </div>
  <div fxFlex fxFlex.gt-sm="50%">
    <h1 class="about-title">Isyani Noviasellie's Library</h1>
    <p class="about">Vivamus magna justo, lacinia eget consectetur sed,
      convallis at tellus. Nulla quis lorem ut libero malesuada feugiat. Quisque
      velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam
      sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus
      nibh. </p>
  </div>

  <div fxFlex></div>
</div>