.footer {
  color: hotpink;
  //   width: 40em;
  height: 15em;
  //   width: 100%;
  background-color: lightgray !important;
  z-index: 2;
  position: relative;
  //   opacity: 1 !important;
  text-align: center;
  //   padding-left: 20em;
  padding: 1.5em;
  display: block;
  margin-left: 10em;

  //   margin-right: 3em;
}

.footer-title {
  text-decoration: underline;
  font-size: 16pt;
  font-weight: bold;
}
