.back-button {
    color: white;
    width: 10px;
    height: 40px;
    background-color: hotpink;
    text-align: center;
    margin: 0 auto;

    opacity: 1 !important;
    z-index: 2;
    // left: 50%;
}

.contact {
    background-color: pink;
    text-align: center;
}
