<div class="container" fxLayout="column" fxLayoutGap="0.5em">
  <div>
    <h2 class="title">Catalogue</h2>
    <hr />
  </div>
  <div fxFlex class="background">
    <img src="../assets/images/library3.jpeg" />
  </div>
  <!-- <div class="bg"> -->
  <div fxFlex>
    <!-- <mat-grid-list cols="2" rowHeight="200px" fxLayoutGap="5000px"> -->
    <mat-grid-list
      cols="2"
      rowHeight="2:1"
      [gutterSize]="'40px'"
      fxLayoutGap="100px"
    >
      <mat-grid-tile *ngFor="let book of books" (click)="onSelect(book)">
        <img
          height="300px"
          width="300px"
          src="{{ book.imageLink }}"
          alt="{{ book.title }}"
        />
        <mat-grid-tile-footer>
          <h1 mat-line>{{ book.title }}</h1>
          <p mat-line>written by: {{ book.author }}</p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <hr />
  <hr />

  <!-- <div fxFlex *ngIf="selectedBook">
    <mat-card>
      <h2>Selected Book</h2>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ selectedBook.title | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        height="700px"
        width="500px"
        src="{{ selectedBook.imageLink }}"
        alt="{{ selectedBook.title }}"
      />
      <mat-card-content>
        <p>written by: {{ selectedBook.author }}</p>
        <p>country: {{ selectedBook.country }}</p>
        <p>language: {{ selectedBook.language }}</p>
        <p>number of pages: {{ selectedBook.pages }}</p>
        <p>year: {{ selectedBook.year }}</p>
        <a class="a-tag" href="{{ selectedBook.link }}">more details</a>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div> -->
  <app-bookdetail [book]="selectedBook"></app-bookdetail>
</div>
