/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

@import "variables";
@import "../node_modules/font-awesome/css/font-awesome";

$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;
$primary-color-dark: #512da8;
$primary-color: #673ab7;
$primary-color-light: #d1c4e9;
$primary-color-text: #ffffff;
$accent-color: #ffc107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

@mixin zero-margin($pad-up-down, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-down $pad-left-right;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: white;
  background-color: lightgray;
}
.title {
  z-index: 2;
  position: relative;
  padding-bottom: 0.5em;
}
.container {
  margin: 1em;
  color: white;
  font-weight: bold;
  display: flex;
  position: relative;
  /* overflow: hidden; */
}

.background > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.a-tag {
  color: orange;
}

.background-primary {
  background-color: $background-dark !important;
}
.background-accent {
  background-color: $accent-color !important;
}
.text-floral-white {
  color: floralwhite !important;
}

.flex-spacer {
  flex: 1 1 auto;
}
